.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loading,
.error {
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.editing {
  border: 2px solid var(--inverted-primary-color);
}
